@font-face {
    font-family: "Cairo";
    src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
    font-family: "Cairo-Semi-bold";
    src: url("../fonts/Cairo-SemiBold.ttf");
}
@font-face {
    font-family: "Cairo-bold";
    src: url("../fonts/Cairo-Bold.ttf");
}



