img {
    max-height: 200px;
}
.panel-heading {
    background: #000;
    text-transform: capitalize;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.panel-body {
    background-color: #f5f5f5;
    border: 1px solid #000
}
.panel-body {
    cursor: pointer;
}
.selected {
    background-color: yellowgreen;
}