<div class="footer-wrapper">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../../../assets/images/ac-logo-footer.svg" alt="">
                <!-- <p>
                    وصف بسيط لشعار غرفة الشرقيه العنوان الرئيسي لها وهو نافذتك الاستثمارية .. على المملكة والعالم
                </p> -->
            </div>
            <div class="links">
                <h2>{{'Important-links' | translate}}</h2>
                <ul>
                    <li>
                        <a>{{'home' | translate}}</a>
                    </li>
                    <li>
                        <a>
                            {{'Ministry-of-Commerce' | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            {{'The-World-Bank' | translate}}
                        </a>
                    </li>

                </ul>
            </div>
            <div class="links">
                <h2></h2>
                <ul>
                    <li>
                        <a>
                            {{'Asharqia-Chamber' | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            {{'World-Trade-Organization' | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            {{'contact-us' | translate}}
                        </a>
                    </li>

                </ul>
            </div>
            <div class="links">
                <h2></h2>
                <ul>
                    <li>
                        <a>
                            {{'Ministry-of-Foreign-Affairs' | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                            {{'Saudi-Products' | translate}}
                         </a>
                    </li>
                    <li>
                        <a>
                          {{'Ministry-Resources' | translate}}
                        </a>
                    </li>

                </ul>
            </div>
            <div class="links">
                <h2></h2>
                <ul>
                    <li>
                        <a>
                            {{'International-Investment-Opportunities' | translate}}
                        </a>
                    </li>
                    <li>
                        <a>
                          {{'Ministry-of-Investment' | translate}}
                        </a>
                    </li>
                    <li>
                        <a>

                            {{'International-Monetary-Fund' | translate}}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="copy-right">
           <div>
            <span>

                {{'Terms-and-laws' | translate}}
            </span>
            <span>
                {{'privacy-policy' | translate}}
            </span>
           </div>
           <div>
               <img src="../../../assets/images/Saudi_Vision_2030_logo.svg" alt="">
               <span>
                   {{'copy-right' | translate}}
               </span>
           </div>
        </div>
    </div>
</div>